@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:300,400,400i,700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
}
.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}


 #canadaMap {
 	width: 60vw;
 	margin: 0 auto;
 	display: block;
 	padding-top:10vh;
     max-height:80vh;
 }
svg {
	fill: #EBEAEA ;
}

g:hover{ 
	cursor: pointer;
    fill:#235D0E;
 }


.province_text{
	font-size:11px;
	fill:black;}
.st2{fill:none;}
.st3{font-family:'MyriadPro-Regular';}
.st5{fill:#FFFFFF;}
.st6{fill:black;}

.MapContainer{
    scroll-snap-align: start;
    position: relative;
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AllContainer{
    width:100vw;
    min-height:100vh;
    height:100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

.header{
    scroll-snap-align: start;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#53BFB8 ;
    min-height:10vh;
    width:100vw;
}
.banner{
    position: relative;
    height:90vh;
    background-color: #235D0E;
    width: 100vw;
    background-image: url(streamUnsplash.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
}
.footer{
    height:20vh;
    background-color: #53BFB8;
    width: 100vw;
}

.bannerCover{
    background-color: rgba(35,93,14,0.7);
    width:100%;
    height:100%;
}

.HeaderInfo h1{
    font-family: 'Open Sans'; 
    font-weight: 300;
    font-size: 3.2em;
    margin-bottom: 0px;
}
.HeaderInfo h4{
    font-family: 'Open Sans'; 
    font-weight: 300;
    font-size:1.2em
}
.HeaderInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

body{
    background-color: #B3DC9E;
}

*{
    font-family:'Open Sans';
}

/* each province */


#NFL{

}

#BC{

}

#NS{

}

#QC{

}

#ON{

}

#YK{

}

#NWT{

}

#NVT{

}

#PEI{

}

#NB{

}

#MB{

}

#SK{

}

#AB{

}