@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:300,400,400i,700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}


 #canadaMap {
 	width: 60vw;
 	margin: 0 auto;
 	display: block;
 	padding-top:10vh;
 }
svg {
	fill: #EBEAEA ;
}

g:hover{ 
	cursor: pointer;
    fill:#235D0E;
 }
 .whiteText{
     fill:white !important;
 }


.province_text{
	font-size:11px;
	fill:black;}
.st2{fill:none;}
.st3{font-family:'MyriadPro-Regular';}
.st5{fill:#FFFFFF;}
.st6{fill:white;}

.MapContainer{
    scroll-snap-align: start;
    position: relative;
    height: 100vh;
    width:100vw;
    background-image: url(streamUnsplash.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
}

.MapContainerOverlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);

}

.AllContainer{
    width:100vw;
    min-height:100vh;
    height:100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

.banner{
    position: relative;
    height:90vh;
    background-color: #235D0E;
    width: 100vw;
    background-image: url(streamUnsplash.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
}
.footer{
    height:20vh;
    background-color: #53BFB8;
    width: 100vw;
    scroll-snap-align: end;
}

.bannerCover{
    background-color: rgba(35,93,14,0.7);
    /* Should make the above colour closer to black overall */
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.upperBanner{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width:100%;
    height: 80%;
}

.lowerBanner{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width:100%;
    height: 20%;
}


body{
    background-color: #B3DC9E;
}

*{
    font-family:'Open Sans';
    scroll-behavior: smooth;
}

.BannerText{
    font-size: 3.7em;
    color:#EBEAEA;
    text-align: center;
    line-height: 1.3em;
    margin-bottom: 1em;
}
.leftBanner{
    width:40vw;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:80%;
}

.rightBanner div{
    width:100%;
}

.rightBanner{
    width:40vw;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color:#EBEAEA;
    height:80%;
}

.BannerDescription1{
    text-align: center;
    font-size: 2.2em;
    color:#EBEAEA;
}

.rightBanner h2{
    font-size: 3.0em;
    margin-bottom: 25px;

}

.rightBanner li{
    font-size: 2.0em;
    line-height: 1.5em;
}

.CTAButton{
    background-color: transparent;
    border: 2px solid white;
    padding: 25px;
    border-radius: 25px;
    font-size: 3em;
    color: white;
    outline:none;
}

.bannerSeparator{
    height:90%;
}

.leftHandInfo{
    position:absolute;
    top:5%;
    left:10%;
    color:white;
    line-height: normal;
}
.leftHandInfo h4{
    font-size: 2.0em;
    font-weight: 300;
}

.leftHandInfo h1{
    margin-bottom: 15px;
    font-size: 4.8em;
    font-weight: 300;
}

.rightHandInfo{
    position:absolute;
    top:20%;
    right:4%;
    color:white;
    text-align: right;
    line-height: normal;
}
.rightHandInfo h4{
    font-size: 2.0em;
    font-weight: 300;
}

.rightHandInfo h1{
    margin-bottom: 15px;
    font-size: 4.8em;
    font-weight: 300;
}

.modal{
    margin:auto;
    width:65%;
    height:65%;
    /* background-color: grey; */
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}
.modalHeader{
    color:white;
    font-family: 'Open Sans';
    font-weight: 300;
    width:100%;
    font-size: 3em;
}

.modalContent{
    width: 80%;
    /* height:70%; */
    color: white;
    font-size: 1.5em;
}

.modalHolder{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:90%;
}

.CTAButton2{
    background-color: transparent;
    border: 2px solid white;
    padding: 15px;
    border-radius: 15px;
    font-size: 2.3em;
    color: white;
    outline:none;
    text-decoration: none;
}

.CTAButton2 a{
    color:white;
    text-decoration: none;
}

.provinceGuidance{
    display:none;
}

/* each province */


#NFL{

}

#BC{

}

#NS{

}

#QC{

}

#ON{

}

#YK{

}

#NWT{

}

#NVT{

}

#PEI{

}

#NB{

}

#MB{

}

#SK{

}

#AB{

}