/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */

    /* Stay in place */
    z-index: 110;
    /* Sit on top */

    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    text-align: center;
}

.form h2 {
    margin: 0px;
}

.form {
    margin-top: 0px;
    width: 100%;
}


/* Modal Content/Box */

.modal-content {
    width: 70%;
    background-color: #373F48;
    opacity: 95%;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(22, 22, 22, 1);
    display: inline-block;
    max-width: 80%;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
}

.modal-content>form>select {
    margin: 10px;
}


/* The Close Button */

.close {
    line-height: 0.7;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin:20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}